@media (max-width:801px) {
    .chatflex{
        width:50%;
    }
}
.chatflex{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.userbox{
    border-radius: 6px;
    /* border: 1px solid rgba(255, 255, 255, 0.384); */
    width: 100%;
    /* margin-bottom: 30px; */
    padding:10px;
    /* font-family: 'ProductSansBold'; */

}
.aibox{
    /* padding: 1em; */
    border-radius:2px;
    background-color: #202124;
    height: auto;
    padding: 1em;
    width: 100%;
    position: relative;
    
}
.aibox p{
    font-size: 18px;
    padding-inline: 1em;

    text-align: left;
    font-family: 'ProductSansRegular';
}
.aboutPicContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    margin-block: 2em;
}
.aboutPicContainer::-webkit-scrollbar {
   display: none;
 
  }
  
  .aboutPicContainer::-webkit-scrollbar-thumb {
   /* display: none; */
   background-color: #a455ff30;

  }


.aboutPicContainer img{
    height: 200px;
    width:200px;
    border-radius: px;
    margin-left: 20px;
    object-fit: cover;

}
.legacy{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.legacy p{
    margin-left: 1rem;
}
.verticalFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -30px;
    margin-bottom: -40px;
}
.circle{
    height: 15px;
    width:15px;
    border-radius: 55%;
    background-color: #a355ff;
    margin-left: -6px;
}
.verticalLine{
    border-left: 3px solid #a355ff;
    height: 100px;
}
