@font-face {
  font-family: 'ProductSansBold';
  src: url('../public/font/product-sans/ProductSansBold.ttf');
}
@font-face {
  font-family: 'ProductSansRegular';
  src: url('../public/font/product-sans/ProductSansRegular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'ProductSansBold';
  /* font-family: 'Inter', sans-serif; */
  font-weight: 300;
  background-color: black;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  /* letter-spacing: -1px; */
  transition: 0.5s ease-in-out;
}
@font-face {
  font-family: 'retrolight';
  src: url('../public/RetroTypo.ttf');
}
a {
  color: inherit;
  text-decoration: none;
}
button{
  transition: 0.5s;
  font-family: "ProductSansBold";
  text-transform: uppercase;
  /* text-transform: lowercase; */
}
button:hover{
  cursor: pointer;
  transition: 0.5s;
}

.firstViewer{
  margin-block: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
}
.firstViewer img{
  position: relative;
  height: 400px;
  width: 100%;
  filter: brightness(0.6);
  object-fit: cover;
  
}
.firstViewer h2{
  position: absolute;
  font-size: 40px;
  line-height: 30px;
}
.firstViewerButton{
  position: absolute;
  margin-top: 130px;
  height: 50px;
  width: 300px;
  background-color: #428EFF;
  border: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #202124;
  clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
}
.firstViewerButton:hover{
  color: white;
  background-color: #202124;
}
.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:95vw;
  height: fit-content;
  /* background-color: red; */
  background-image: url('https://hacktoberfest.com/_next/static/media/grid-square.7c0cbc15.svg');
  background-color: rgb(6, 6, 6);
  /* filter: brightness(0.6); */
  border: 2px solid rgb(64, 221, 255);
  border-radius: 6px;
  box-shadow: rgb(64, 221, 255) 0px ;
  -webkit-mask-image: radial-gradient(119% 181% at 22% 12%, rgba(0, 0, 0, 0.68)nt 115%);
}
.aboutTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 45px;
  width: 40%;
  color: white;
}
.aboutImage{
  height: 500px;
  width: 500px;
  border-radius: 25px;
  margin: 30px;
  object-fit: cover;
}
.buttonMain{
  height: 50px;
  width: 300px;
  border-radius: 0px;
  background-color: white;
  border: 1px solid;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #202124;
  /* border-color: white; */
  color:black;
  clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);

}
.buttonMain:hover{
  background-color: #ff5145;
  color: rgb(255, 255, 255);
  border: hidden;
}

.eventContainer{
  overflow:hidden;
  padding-block: 2%;
  
}
.EventsTitle{
  font-size: 64px;
  text-transform: uppercase;
  color:#428EFF;
  letter-spacing: 4px;
}
.AboutTitle{
  font-size: 64px;
  text-transform: uppercase;
  color:#ffbd42;
  letter-spacing: 4px;
}

.overviewContainer{
  display: flex;
  flex-direction: row;
  overflow-x:scroll;
  /* max-width: 100vw; */
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  /* margin: 30px; */
}
.overviewContainer::-webkit-scrollbar {
  /* display: hidden; */
  background-color: rgb(0, 0, 0);
  height: 10px;
  border-radius: 12px;

}
.overviewContainer::-webkit-scrollbar-thumb {
  /* display: hidden; */
  background-color: rgb(44, 44, 44);
}
.overviewContainer h1{
  display: none;
}
.overviewBoxContainer{
  /* clip-path:  polygon(18px 0px, 100% 0px, 100% 92%, calc(100% - 0px) 100%, 0px 100%, 0px 40px); */
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 12px;
}
.overviewBoxContainer img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  /* border-radius: 25px; */
 
}
.overviewBoxContainer:hover{
  border: 3px solid #a355ff;
  /* border-radius: 25px; */
}
.circlePattern{
  border-radius: 55%;
  background-color: #428EFF;
  height: 200px;
  width: 200px;
}
.recPattern:hover{
  cursor: pointer;
  border-radius: 95px;
  background-color: #ff5145;
}
.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
.timeContainer{
  display: flex;
  flex-direction: row;
  grid-template-columns: auto;
  width: 50vw;
  margin-top: -55px;
}
.boxTimer{
  background-color: #202124;
  border-radius: 0px;
  height: auto;
  width: 500px;
  text-align:center;
  margin: 10px;
  font-size: 70px;
  padding: 10px;
  clip-path:  polygon(28px 0px, 100% 0px, 100% 72%, calc(100% - 0px) 100%, 0px 100%, 0px 20px);
  transition:0.5s ease-in-out;

}

.boxTimer h1{
  font-family: 'retrolight';
  font-weight:lighter;
  font-style: normal;
  color: #428EFF;
}
.boxTimer h2{
  font-size: 20px;
  font-family: 'ProductSansRegular';
  text-transform: uppercase;
  letter-spacing: 5px;
}
.boxTimer:hover{
 
  cursor: pointer;
 
}
.boxTimer:nth-child(1):hover,.boxTimer:nth-child(1) h1:hover{
  color: rgb(239, 239, 239);
  background-color: #428EFF;
  
}
.boxTimer:nth-child(2):hover ,.boxTimer:nth-child(4) h2:hover{
 
  background-color: #ff5145;
  color:#000000;
}
.boxTimer:nth-child(3):hover,.boxTimer:nth-child(3) h1:hover{
  background-color:#a355ff;
  color: rgb(239, 239, 239);
}
.boxTimer:nth-child(4):hover,.boxTimer:nth-child(4) h2:hover ,.boxTimer:nth-child(4) h1:hover{
  color:#000000;
  background-color:#ffbd42;
}
.boxTimer h2:nth-child(4){
  color: #000000;
}
.boxTimer:nth-child(2) h1:hover{
  color:#000000;
}
/* .boxTimer:nth-child(4) h1:hover, .boxTimer:nth-child(4) h2:hover{
  color:#000000;
  
} */

.rightSide{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 90%;
}
.rightSideIntro{
  background-color: transparent;
  margin-bottom: 30px;
  width: 100%;
  padding: 45px;
  height: 230px;
  background-image: url('https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/UUID-cl9fheozm0265qdnhgsqd1lx1/public');
  background-repeat: no-repeat;
  background-position-x:-35px;
  background-position-y:-90px ;
  clip-path: polygon(28px 0px, 100% 0px, 100% 72%, calc(100% - 9px) 100%, 0px 100%, 0px 65px);
  
}
.mobileView{
  display: none;
}

.mobileTextMove{
  display: none;
}
.mobileNavMenu{
  display: none;
}
.patternflex{
  display: none;
}
.campuscontainer{
  background-image: url('https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/UUID-cl9fheozm0265qdnhgsqd1lx1/public');
  background-repeat: no-repeat;
  background-position-x:-35px;
  background-position-y:-90px ;
  margin-top:10%;
  height: auto;
}
.campuscontainer img{
  object-fit:cover ;
}

@media(max-width:800px){
  .flexContainer{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */

  }

}


@media(max-width:520px){

  .flexContainer{
    margin-top: -50px;
    flex-direction: column;
    
    min-height: 100vh;
    background-size: 60px 80px;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,.1) 1px,transparent 0),linear-gradient(180deg,hsla(0,0%,100%,.1) 1px,transparent 0);
  }
  .timeContainer{
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 0;
    padding: 0px;
  }
  .boxTimer{
    border-radius: 0px;
    width: 5rem;
    margin: 5px;
    font-size: 30px;
    padding: 10px;
  }
  .boxTimer:hover{
    background-color: #ff5145;
  }
  .boxTimer h1:hover{
    color: white;
  }
  .boxTimer h2{
    font-size: 1rem;
  }
  .rightSide{
    justify-content: center;
    align-items: center;
  }
  .rightSideIntro{
    background-color: transparent;
    margin-bottom: 30px;
    width: 95vw;
    padding: 30px;
    height: fit-content;
    background-image: url('https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/UUID-cl9fheozm0265qdnhgsqd1lx1/public');
    background-repeat: no-repeat;
    background-position-x:-35px;
    background-position-y:-90px ;
    clip-path: polygon(28px 0px, 100% 0px, 100% 72%, calc(100% - 9px) 100%, 0px 100%, 0px 65px);
  }
  .rightSideVid{
    display: none;
  }
  .firstViewer{
    margin-top:0rem;
  }
  .firstViewer img{
    height: 500px;
    width: 100vw;
    filter: brightness(.9) ;
    -webkit-mask-image: radial-gradient(75% 181% at 47% 31%, black 16%, transparent 115%);
  }
  .firstViewer h2{
    position: absolute;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    padding: 5px;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
  }

  .firstViewerButton{
    margin-top: 200px;
  }
  .aboutContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:95vw;
    background-image: url('https://hacktoberfest.com/_next/static/media/grid-square.7c0cbc15.svg');
    background-color: black;
    border: 4px solid rgb(64, 221, 255);
    border-radius: 24px;
    box-shadow: rgb(64, 221, 255) 0px ;
    -webkit-mask-image: radial-gradient(75% 181% at 47% 31%, black 16%, transparent 115%);

  }
  .aboutTextContainer{
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
  }
  .aboutTextContainer h1{
    font-size: 25px;
    font-weight: 500;
  }
  .aboutImage{
    height: 300px;
    width: 300px;
    border-radius: 25px;
    margin: 30px;
  }
  .buttonMain{
    width: 200px;
    color:black;
    border:  1px solid white;
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
    background-color: white;
    border-radius: 0px;
  }
  .buttonMain:hover{
    background-color:#202124;
    color:white ;
  }
  .overviewContainer{
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .overviewContainer h1{
    display: block;
  }
  .overviewBoxContainer{
    /* border-radius: 25px; */
    /* margin-bottom: 30px; */
    border: 1px solid white;
    width: 120%;
  }
  .overviewBoxContainer:hover{
    border: 1px solid #a355ff;
  }
  .overviewBoxContainer img{
    width: 100%;
  }
  .mobileView{
    display: flex;
    height:40vh;
    overflow-y: hidden;
  }
  .mobileView img{
    object-fit: cover;
    height: 300px;
    transform: rotate(35deg);
    margin-right: 137px;
  }
  
  .flexRowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100vw;
  }
  @keyframes movetext {
    from{
      transform: translateX(0%);
    }
    to{
      transform: translateX(-50%);
    }
  }
  .flexRowContainer{
    animation:movetext 5s infinite linear;
    animation-delay: 0ms;
    transform: translateX(0%);
  }
  .flexRowContainer h1{
    transition: all 2s ease;
    margin-left: 30px;
  }
  .mobileNavMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 100;
    height: 100vh;
  }
  .flexMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .linkitem{
    font-size: 2rem;
    font-weight: 500;
    color: #DADCE0;
    height: auto;
    margin:30px;
    width: 70vw;
    padding: 10px;
    border: 1px solid white;
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
    -webkit-mask-image: radial-gradient(100% 137% at 37% 75%, black 26%, transparent 87%);
  }
  .linkitemactive{
    color: #202124;
    background-color: #DADCE0;
    background-image: none;
    -webkit-mask: none;
  }
  @keyframes animbox {
    from{
      transform: translateY(-100px);

    }
    to{
      transform: translateY(0px);
    }
  }
  @keyframes animboxback {
    from{
      transform: translateY(0px);

    }
    to{
      transform: translateY(-100px);
    }
  }
  .animatebox{
    animation: animbox 0.3s linear;
  }
  .animateboxback{
    animation: animboxback 0.9s linear;
  }
  .patternflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30vh;
    margin-top:30px;
  }
  .circlePattern{
    border-radius: 55%;
    background-color: #428EFF;
    height: 200px;
    width: 200px;
  }
  .recPattern{
    border-radius: 95px;
    background-color: #ff5145;
    margin-left:100px;
    height: 200px;
    width: 300px;
    margin-top:90px;
  
  }
  @keyframes move-text {
    0% {
      transform: translateX(0px);
  }
  
  100% {
      transform: translateX(calc(-100% - 10px));
  }
  }
  .campuscontainer{
    background-image: none;
    margin-top:40%;
    
  }
  .textmarquee ul{
    animation: 10s linear 0s infinite normal forwards running move-text;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    justify-content: space-around;
    min-width: 100%;
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
}
.speakerStyle p{
  color: #428EFF;
}

.speakerName{
  color: #a355ff;
}


.FooterContainer {
  max-height: 50vh;
  background: linear-gradient(-45deg, #428EFF, #a355ff);
  /* background-size: 400% 400%; */
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  background-color: #f44e1c;
  background-size: 400% 400%;
  justify-items: center;


}
.overallFooter a{
  font-size: 32px;
  color: #000000;
}

.overallFooter{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.contentConatiner {
  text-transform: uppercase;
  display: grid;
  justify-items: center;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
}
.contentConatiner a{
  font-size: 20px;
  color: #ffffff;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
