.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@keyframes zoomin{
  from{
    transform: scale(1.8);
  }
  to{
    transform: scale(1);
  }
}
.firstimage{
  border-radius: 55px;
  width:800px;
  height:400px;
  animation : zoomin;
  animation-duration: 3s;
  animation-delay: 0s;

}
.firstimage:hover{
   transform: scale(1.034);
}

@media (max-width: 600px) {
  .main{
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 740px) {
  .main{

  }
}
