.header{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.headerImg{
    height:70px;
    width:70px;
    margin-top:10px;
}
.navitems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 3rem;
    margin-top: 30px;
}
.navitems a{
    transition:0.5s ease-in-out;
    margin-right: 30px;
    margin-top: 35px;
    font-size: 22px;
    /* font-weight:500; */
    font-family: 'ProductSansRegular';
    
}
.navitems a:hover{
    transition:0.5s ease-in-out;
    color: #428EFF;
}
.item{
    margin-right: 30px;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: #DADCE0;
}
.activeLink{
    background-color: #DADCE0;
    color: red;
}
.hamburger{
    display: none;
}
@media (max-width:600px) {
    .headerImg{
        height:85px;
        width: 85px;
        margin-top: 10px;
        object-fit: cover;
    }
    .navitems{
        display: none;
    }
    .hamburger{
        display: block;
        height:70px;
        width:70px;
        margin-top:25px;
        background-color: transparent;
        border: none;
        color: white;
    }
}